# Web Scraping Assignment 4

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

Q.1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)

In [3]:
Rank=[]
Naming = []
Artist=[]
Upload_date=[]
views_billions=[]

#Extracting rank 
rank = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')      
for r in rank:
        Rank.append(r.text)
time.sleep(1)
        
all_text = []
Ranking = []
for i in Rank:
    all_text.append(i.split("."))
time.sleep(2)

for i in all_text:
    Ranking.append(i[0]) 
time.sleep(1)

#Extracting name
name=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')
for n in name:
        Naming.append(n.text)
time.sleep(1)

all_text3 = []
Name3 = []
for i in Naming:
    all_text3.append(i.split("["))
time.sleep(2)

for i in all_text3:
    Name3.append(i[0])
time.sleep(1)
    
#Extracting artist
artist = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')      
for a in artist:
        Artist.append(a.text)
time.sleep(1)

#Extracting Upload_date
date = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')      
for d in date:
        Upload_date.append(d.text)
time.sleep(1)
        
#Extracting views_billions
views = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')      
for v in views:
        views_billions.append(v.text)
time.sleep(1)

# Make dataframe
Youtube_df = pd.DataFrame({'Rank':Ranking,'Name':Name3,'Artist':Artist,'Upload date':Upload_date,
                           'Views_billions':views_billions})
Youtube_df

,Rank,Name,Artist,Upload date,Views_billions
0,1,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.96
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",7.44
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",5.55
3,4,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.38
4,5,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.18
5,6,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.44
6,7,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.31
7,8,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.26
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.23
9,10,"""Gangnam Style""",Psy,"July 15, 2012",4.12
10,11,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",3.99
11,12,"""Sugar""",Maroon 5,"January 14, 2015",3.51
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.46
13,14,"""Sorry""",Justin Bieber,"October 22, 2015",3.45
14,15,"""Roar""",Katy Perry,"September 5, 2013",3.39
15,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.34
16,17,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.29
17,18,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.15
18,19,"""Dark Horse""",Katy Perry,"February 20, 2014",3.10
19,20,"""Faded""",Alan Walker,"December 3, 2015",3.10
20,21,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.07
21,22,"""Girls Like You""",Maroon 5,"May 31, 2018",3.07
22,23,"""Lean On""",Major Lazer,"March 22, 2015",3.06
23,24,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.06
24,25,"""Let Her Go""",Passenger,"July 25, 2012",3.03
25,26,"""Mi Gente""",J Balvin,"June 29, 2017",2.94
26,27,"""Perfect""",Ed Sheeran,"November 9, 2017",2.90
27,28,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",2.88
28,29,"""Axel F""",Crazy Frog,"June 16, 2009",2.88
29,30,"""Hello""",Adele,"October 22, 2015",2.85

Q.2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [4]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)


url = "https://www.bcci.tv/"
driver.get(url)

time.sleep(2)

In [5]:
#Reach to the international fixture page
international = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')    
international.click()        
time.sleep(2)

fixtures=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]')
fixtures.click() 
time.sleep(2)

In [17]:
import time
Match_title=[]
SERIES=[]
Place=[]
Date=[]
Timing=[]

#Extracting Match Title
title = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/strong')      
for t in title:
    Match_title.append(t.text)
time.sleep(1)

#Extracting series
Series=[]
series = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[3]')      
for s in series:
    Series.append(s.text)
for k in Series:
    SERIES.append(k.replace("\n"," "))
time.sleep(1)
    
#Extracting Place
place = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span')      
for p in place:
    Place.append(p.text)
time.sleep(1)
        
#Extracting date
Date=[]
Date1=[]
Date2=[]
date=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]')
for d in date:
    Date.append(d.text)
for d in Date:
    Date1.append(d.replace("\n"," "))
for i in Date1:
    Date2.append(i.split()[:3])
time.sleep(1)

#Extracting Time
timing=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/div/span[2]')
for t in timing:
    Timing.append(t.text)

    
# Make dataframe
Fixtures_df = pd.DataFrame({'Match_title':Match_title,'Series':SERIES,'Place':Place,'Date':Date2,
                           'Time':Timing})
Fixtures_df

,Match_title,Series,Place,Date,Time
0,1st ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Sunday, 18, JULY]",15:00 IST
1,2nd ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Tuesday, 20, JULY]",15:00 IST
2,3rd ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Friday, 23, JULY]",15:00 IST
3,1st T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Sunday, 25, JULY]",20:00 IST
4,2nd T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Tuesday, 27, JULY]",20:00 IST
5,3rd T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo","[Thursday, 29, JULY]",20:00 IST
6,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham","[Wednesday, 04, AUGUST]",15:30 IST
7,2nd Test,ENGLAND v INDIA,"Lord's, London","[Thursday, 12, AUGUST]",15:30 IST
8,3rd Test,ENGLAND v INDIA,"Headingley, Leeds","[Wednesday, 25, AUGUST]",15:30 IST
9,4th Test,ENGLAND v INDIA,"The Oval, London","[Thursday, 02, SEPTEMBER]",15:30 IST
10,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester","[Friday, 10, SEPTEMBER]",15:30 IST

Q.3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [18]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [20]:
test=driver.find_element_by_xpath('//*[@id="menu-3688-particle"]/nav/ul/li[2]')
test.click()
time.sleep(1)

selenium=driver.find_element_by_xpath('//*[@id="menu-3688-particle"]/nav/ul/li[2]/ul/li/div/div[3]/ul/li[5]')
selenium.click()
time.sleep(1)

tutorial=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong')
tutorial.click()
time.sleep(1)

In [21]:
Name1=[]
Description=[]

for i in range(2,43):
    name = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[1]'.format(i))
    for n in name:
        Name1.append(n.text)
    
    descp=driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[2]'.format(i))
    for d in descp:
        Description.append(d.text)
        
# Make dataframe
guru_df = pd.DataFrame({'Name':Name1,'Description':Description})
guru_df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q.4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [29]:
import time
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

In [36]:
Economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
Economy.click()
time.sleep(2)

India=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()
time.sleep(2)

states=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states.click()
time.sleep(2)

In [37]:
Rank=[]
State=[]
GSDP=[]
GSDP1=[]
Share=[]
GDP=[]

#Extracting Rank
rank=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')
for r in rank:
    Rank.append(r.text)
time.sleep(1)

#Extracting State
state=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
for s in state:
    State.append(s.text)
time.sleep(1)

#Extracting GSDP at current price (19-20)
gspd=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')
for g in gspd:
    GSDP.append(g.text)
time.sleep(1)

#Extracting GSDP at current price (18-19)
gspd1=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')
for h in gspd1:
    GSDP1.append(h.text)
time.sleep(1)
    
#Extracting Share(18-19)
share=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
for s in share:
    Share.append(s.text)
time.sleep(1)
    
#Extracting GDP($ billion)
gdp=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
for g in gdp:
    GDP.append(g.text)

# Make dataframe
GDP_df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP at current price (19-20)':GSDP,
                       'GSDP at current price (18-19)':GSDP1,'Share(18-19)':Share,'GDP($ billion)':GDP})
GDP_df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q.5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://github.com/"
driver.get(url)
time.sleep(2)

In [3]:
explore=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(explore.get_attribute('href'))

In [4]:
Repository_title=[]
repo_desc=[]
lang=[]

#Extracting Repository title

try:
    repo=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repo:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Extracting Repository description

try:
    descriptions=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in descriptions:
        repo_desc.append(i.text)
except NoSuchElementException:
    repo_desc.append('-')
    
#Extracting Language used

for i in range(1,26):
    try:
        l= driver.find_element_by_xpath("//div[@class='Box']/div[2]/article[{}]/div[2]/span[1]/span[2]".format(i))
        lang.append(l.text)
    except NoSuchElementException:
        lang.append('-')

In [5]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
    
Contributors_count=[]
for i in repo_urls:
    driver.get(i)
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('-')

In [6]:
# Make dataframe
Git_df = pd.DataFrame({'Repository_title':Repository_title,'repo_desc':repo_desc,'Contributors_count':Contributors_count,
                       'Language_used':lang})
Git_df

,Repository_title,repo_desc,Contributors_count,Language_used
0,TheAlgorithms / Python,All Algorithms implemented in Python,700,Python
1,paritytech / substrate,Substrate: The platform for blockchain innovators,264,Rust
2,discordjs / discord.js,A powerful JavaScript library for interacting ...,338,JavaScript
3,github / docs,The open-source repo for docs.github.com,730,JavaScript
4,livekit / livekit-server,Distributed audio/video rooms over WebRTC,7,Go
5,ManimCommunity / manim,A community-maintained Python framework for cr...,201,Python
6,snowpackjs / astro,"🚀🧑‍🚀 Keep your eyes to the skies, astronauts!",48,TypeScript
7,deepmind / alphafold,Open source code for AlphaFold.,-,Python
8,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,146,Python
9,GPUOpen-Effects / FidelityFX-FSR,FidelityFX Super Resolution,-,C
10,GokuMohandas / MadeWithML,Learn how to responsibly deliver value with ML.,2,Jupyter Notebook
11,coolsnowwolf / lede,Lean's OpenWrt source,262,C
12,hit-thusz-RookieCJ / CSYuTuiMian2021,关于2021年CS保研预推免通知公告的汇总,4,-
13,jonasschmedtmann / html-css-course,"Starter files, final projects, and FAQ for my ...",-,HTML
14,RosettaCommons / RoseTTAFold,This package contains deep learning models and...,3,Python
15,lxgw / LxgwWenKai,An open-source Chinese font derived from Fontw...,-,-
16,bradtraversy / hulu-webpage-clone,Hulu webpage clone,-,CSS
17,ventoy / Ventoy,A new bootable USB solution.,26,C
18,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...",243,TypeScript
19,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,31,Java
20,megaease / easegress,A Cloud Native traffic orchestration system,19,Go
21,adiwajshing / Baileys,Lightweight full-featured typescript/javascrip...,27,JavaScript
22,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,921,JavaScript
23,3b1b / manim,Animation engine for explanatory math videos,126,Python
24,public-apis / public-apis,A collective list of free APIs,825,Python

Q.6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [7]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [9]:
charts=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a')
charts.click()

view_chart=driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]')
view_chart.click()

In [10]:
Song=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Extracting Song name
song = driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[1]')      
for s in song:
        Song.append(s.text)

#Extracting Artist name
artist=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[2]')
for a in artist:
    Artist_name.append(a.text)
    
#Extracting Last week rank
week=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for w in week:
    Last_week_rank.append(w.text)

#Extracting Peak rank
peak=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for p in peak:
    Peak_rank.append(p.text)

#Extracting Weeks on board
board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for b in board:
    Weeks_on_board.append(b.text)
    
# Make dataframe
bill_df = pd.DataFrame({'Song name':Song,'Artist name':Artist_name,'Last week rank':Last_week_rank,
                       'Peak rank':Peak_rank,'Weeks on board':Weeks_on_board})
bill_df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

Q.7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [27]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://www.naukri.com/"
driver.get(url)
time.sleep(2)

In [28]:
recruiter=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div')
recruiter.click()

In [29]:
driver.switch_to.window(driver.window_handles[1])
driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data science')
time.sleep(2)

driver.find_element_by_id('qsbFormBtn').click()

In [30]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#Extracting Name
name=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div/p/a/span')      
for n in name:
        Name.append(n.text)
        
#Extracting Designation
desg=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for d in desg:
    Designation.append(d.text)

#Extracting Company
comp=driver.find_elements_by_xpath('//div[@class="vcard"]/p/a[2]')
for c in comp:
    Company.append(c.text)
    
#Extracting Skills they hire for
skills = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for s in skills:
    Skills.append(s.text)
    
#Extracting Location
for i in range(1,26):
    for j in range(1,3):
        try:
            loc= driver.find_element_by_xpath('//*[@id="tabP-1"]/div[{}]/div[{}]/div[1]/div[1]/p/span[2]/small'.format(i,j))
            Location.append(loc.text)
        except NoSuchElementException:
            Location.append('-')
            
# Make dataframe
naukri_df = pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,
                       'Skills':Skills,'Location':Location})
naukri_df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

Q.8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [31]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [32]:
Book_name=[]
Author=[]
Volumes_sold=[]
Publisher=[]
Genre=[]


for i in range(0,100):
    
    # Extracting book name
    
    book = driver.find_elements_by_id("table-cell-10943-{}-1".format(i))
    for b in book:
        Book_name.append(b.text)
     
    
    # Extracting author name
    
    author = driver.find_elements_by_id("table-cell-10943-{}-2".format(i))
    for a in author:
        Author.append(a.text)
      
    
    # Extracting volumes sold
    
    volume = driver.find_elements_by_id("table-cell-10943-{}-3".format(i))
    for v in volume:
        Volumes_sold.append(v.text)
        
    # Extracting publisher
    
    publisher = driver.find_elements_by_id("table-cell-10943-{}-4".format(i))
    for p in publisher:
        Publisher.append(p.text)
        
        
    # Extracting genre
    
    genre = driver.find_elements_by_id("table-cell-10943-{}-5".format(i))
    for g in genre:
        Genre.append(g.text)
        
# Make dataframe
guardian_df = pd.DataFrame({'Book name':Book_name,'Author name':Author,'Volumes sold':Volumes_sold,
                       'Publisher':Publisher,'Genre':Genre})
guardian_df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q.9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [33]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [34]:
Name=[]
Year_span=[]
Genre1=[]
Run_time=[]
Ratings=[]
Votes=[]

# Extracting Name

name1 = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for n in name1:
    Name.append(n.text)

# Extracting Year span
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for y in year:
    Year_span.append(y.text)

# Extracting Genre
genre1 = driver.find_elements_by_xpath('//span[@class="genre"]')
for g in genre1:
    Genre1.append(g.text)

# Extracting Run time   
run = driver.find_elements_by_xpath('//span[@class="runtime"]')
for r in run:
    Run_time.append(r.text)
    
# Extracting Ratings    
rating = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for s in rating:
    Ratings.append(s.text)

# Extracting Votes
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for v in vote:
    Votes.append(v.text)
    
# Make dataframe
imdb_df = pd.DataFrame({'Name':Name,'Year span':Year_span,'Genre':Genre,
                       'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})
imdb_df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Crime, Thriller & Adventure",57 min,9.2,"1,838,264"
1,Stranger Things,(2016– ),Children's Fiction,51 min,8.7,"876,849"
2,The Walking Dead,(2010–2022),Children's Fiction,44 min,8.2,"880,692"
3,13 Reasons Why,(2017–2020),Children's Fiction,60 min,7.6,"264,502"
4,The 100,(2014–2020),Romance & Sagas,43 min,7.6,"225,968"
...,...,...,...,...,...,...
95,Reign,(2013–2017),General & Literary Fiction,42 min,7.5,"44,820"
96,A Series of Unfortunate Events,(2017–2019),Food & Drink: General,50 min,7.8,"55,457"
97,Criminal Minds,(2005–2020),Young Adult Fiction,42 min,8,"170,060"
98,Scream: The TV Series,(2015–2019),Biography: General,45 min,7.1,"35,176"
99,The Haunting of Hill House,(2018),Food & Drink: General,572 min,8.6,"193,733"

Q.10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [46]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url ="https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [47]:
view=driver.find_element_by_xpath("//b[contains(text(),'View ALL Data Sets')]").click()

In [52]:
name=[]
dtype=[]
task=[]
atype=[]
instn=[]
nattri=[]
year=[]


# Scraping the data

n = driver.find_elements_by_xpath('//p[@class="normal"]/b/a')
for i in n:
    name.append(i.text)
    
for i in range(2,590):
    d= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(i))
    dtype.append(d.text)
    
    t= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(i))
    task.append(t.text)
    
    a= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(i))
    atype.append(a.text)
    
    s= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(i))
    instn.append(s.text)
    
    n= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(i))
    nattri.append(n.text)
    
    y= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(i))
    year.append(y.text)

In [53]:
x= {'Dataset Name':name, 'Data Type': dtype, 'Task': task, 'Attribute Type': atype, 'No of Instances': instn, 'No of Attribute':nattri, 'Year': year}
df10= pd.DataFrame(x)
df10

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021