# Web Scraping-Selenium

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

# Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
search_job=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Analyst")
search_location=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_location.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [4]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title=[]
for i in title_tag:
    title.append(i.text)
title[:10]

['Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)']

In [5]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in company_tag:
    company.append(i.text)
company[:10]

['Opex Global Services',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'CGI Information Systems and Management Consultants',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [6]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tag:
    location.append(i.text)
location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [7]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]
for i in experience_tag:
    experience.append(i.text)
experience[:10]

['5-10 Yrs',
 '6-9 Yrs',
 '3-5 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs']

In [8]:
df=pd.DataFrame({"job title":title[:10],
                "job location":location[:10],
                "job company":company[:10],
                "job experience":experience[:10]})
df

,job title,job location,job company,job experience
0,Senior Data Analyst - Data Lineage,Bangalore/Bengaluru,Opex Global Services,5-10 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",Mind Circus Innovation,0-1 Yrs
4,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
5,Business/Data Analyst - SSE/LA,Bangalore/Bengaluru,CGI Information Systems and Management Consult...,2-5 Yrs
6,Business Data Analyst,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)","dotSolved India Pvt., Ltd.",9-13 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs

# Q2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [9]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [10]:
search_job=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
search_location=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_location.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [12]:
title_tag1=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title1=[]
for i in title_tag1:
    title1.append(i.text)
title1[:10]

['Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist',
 'Senior Data Scientist',
 'Senior/ Lead Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - IBM Garage',
 'Deputy Manager - Datalabs (Data Scientist)',
 'Digital Enterprise Architect (Data Scientist)']

In [13]:
location_tag1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location1=[]
for i in location_tag1:
    location1.append(i.text)
location1[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
company_tag1=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company1=[]
for i in company_tag1:
    company1.append(i.text)
company1[:10]

['RedBus',
 'RedBus',
 'Fractal Analytics',
 'Superior Group',
 'FICO',
 'Fractal Analytics',
 'TalkValley LLC',
 'IBM India Pvt. Limited',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'Mphasis Limited']

In [15]:
urls1=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls1.append(i.get_attribute('href'))
urls1[:10]

['https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16240276805016677&xp=1&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16240276805016677&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16240276805016677&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-superior-group-bangalore-bengaluru-6-to-11-years-180621500299?src=jobsearchDesk&sid=16240276805016677&xp=4&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16240276805016677&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16240276805016677&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16240276805016677&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16240276805016677&xp=8&px=1',
 'https://www.naukri.com/job-listings-deputy-manager-datalabs-data-scientist-hdfc-life-insurance-company-limited-bangalore-bengaluru-4-to-6-years-160621004098?src=jobsearchDesk&sid=16240276805016677&xp=9&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16240276805016677&xp=10&px=1']

In [16]:
import time
from selenium.common.exceptions import NoSuchElementException 
job_desc1=[]
for i in urls1[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc1.append(job_desc.text)
    except NoSuchElementException:
        job_desc1.append('-')

In [17]:
job_desc1[:10]

['-',
 '-',
 'Job description\nServe as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment.\nWilling to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project.\nHands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects.\nMust Have\n8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream\nExperience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis.\n5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform.\nStatistical model building with 5 years of experience\nBasic understanding of machine learning models development in python and leveraging AWS.\nBachelors Degree in Engineering, Mathematics Analytics, Economics or Business\nNice to Have\n5 years of Knowledge and experience with SAS or SAS Viya platform\nExperience working with remote teams spread across the globe\nMachine Learning modelling experience\nPython programming to build ML models\nAWS or equivalent other cloud based services knowledge SAS EG\nExperience working in a data analytics COE or in an analytics consulting company\nRoleTechnical Architect\nIndustry TypeManagement Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Production/Industrial\nPG :Any Postgraduate in Any Specialization\nKey Skills\nSupply chainData analysisSASTime series analysisArtificial IntelligenceConsultingMachine learningData analyticsSQLPython',
 'Job description\nResponsibilities\nProvide advanced analytical capabilities to support data science initiatives\nSolves highly complex problems that do not yet have solutions in the research and span much of the Data Science portfolio\nInfluences the thought process and methodology for other team members\nJob Requirements\nSkill seet required\n6+ years of experience in analytics AND 2 years of programming experience (Python, Java, Scala, Rust, etc.)\n3 years of experience performing predictive analytics at a large scale enterprise\n3 years of experience in data science or advanced analytics in industry\nSQL Experience\nExperience using multiple data systems and sources (such as Hadoop, Spark, Aster, Teradata, etc.\nRoleDatabase Architect/Designer\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nadvanced analyticsdata scienceAnalyticalSCALALeadTeradataPredictive analyticsSQLPython',
 'Job description\nJob Summary\nThe candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications.\nHeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.\n\nResearch, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction.\nIdentify data types to enable detection of cyber events.\nTest and validate developed algorithms on real operational data.\nIdentify, define, and scope complex data analytics problems in the cybersecurity domain.\nDevelop cross-domain strategies for increased network security and resiliency of the entire network.\nRoleTeam Lead/Technical Lead\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaIT Software - Network Administration, Security\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Computers\nPG :Post Graduation Not Required\nKey Skills\nbig data analyticsArtificial IntelligenceMachine learningAnti money launderingNetwork securitySubject matter expertiseOperationsdigital transformationFraud detectionFICO',
 'Job description\nPosition Description:\nThe Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities:\nAbility to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions\nFast learner: ability to learn and pick up a new language/tool/ platform quickly\nConceptualize, design, and deliver high-quality solutions and insightful analysis\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems\nCollaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomes\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nMinimum 10+ years of experience in Machine Learning domain\nExpert level proficiency in at least one of R and Python\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.\nRoleAnalytics Manager\nIndustry TypeMiscellaneous\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nRNoSQLArtificial IntelligenceData StructuresGoSupply Chain ManagementMarketing AnalyticsMachine LearningDeep LearningPython',
 'Job description\nWe are a group of tenured professors from Tier-1 business schools in US universities. We teach machine learning and deep learning to master and PhD students. For our efforts with MentorStudents.org, we are looking to hire a team of interns who are interested in learning data science and analyze data under our supervision.\n\nHours commitment: at least 42.5 hrs/week\n\nDuration of the internship: 3 months\n\nRequired skills: Communication skills, Python, and OOP\n\nPerks (besides getting paid): Learn from professors who teach machine learning in the US\n+ internship completion certificate\n+ endorsement of your candidacy to US companies for a remote job via our placement business unit\n+ networking (check out https://MentorStudents.org)\n\nNext step / TEST for Selection:\nThis test will help you present your resume better and improve your employability. Hence, it is in your interest to work on this test. Create a tutorial in Google doc on how to create a timeline in Tableau Public. Use events from your resume as events for the timeline. You are encouraged to look at https://public.tableau.com/en-us/gallery for inspiration. Send your Google doc link at jobs [at] mentorstudents [dot] org. Make sure to make the link publicly accessible so that our team can evaluate your work.\nRoleTrainee\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - eCommerce, Internet Technologies\nEmployment TypeFull Time, Freelance/Homebased\nRole CategoryOther\nEducation\nUG :Graduation Not Required\nKey Skills\nCommunication SkillsPython\nJupyter\nSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description\nRoles & Responsibilities\nDevelop end to end solutions including understanding the business need, aggregate & explore data, build and validate predictive modeling using the Machine Language approaches.\nDevelopment of API in Python and Node JS environment\nWork with AI, Business Insights, and InfoSec team to develop the APIs for models.\nTrack and validate the model effectiveness and feed the learnings to fine-tune the models.\n\nCandidate Requirement\nCandidate must have a background in Statistics/Mathematics/Operations Resources/Economics or Similar Subjects with overall analytical experience of >4 years\nMust have hands on experience in Model Development or Validation for 2 years\nCandidate must have experience in the latest ensemble techniques like Gradient boosting, Deep Learning, Random Forest, Optimization etc\nMust be proficient in Python and Node JS. Knowledge of SQL is an add-on\n\n\n\nHDFC Life does not charge applicants any recruitment fee or a deposit in return for job offers. HDFC Life does not authorize any third party to make employment offers, refer or place candidates, for a fee charged to the applicant.\nRoleOther\nIndustry TypeInsurance\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nPredictive ModelingArtificial IntelligenceNode.JsStatisticsDeep LearningRandom ForestSQLModel DevelopmentData ScienceEnsembleJavascriptdata scientistPython',
 '-']

In [18]:
print(len(job_desc1))

10

In [19]:
df1=pd.DataFrame({"job title":title1[:10],
                "job location":location1[:10],
                "job company":company1[:10],
                "job description":job_desc1[:10]})
df1

,job title,job location,job company,job description
0,Senior Data Scientist,Bangalore/Bengaluru,RedBus,-
1,Immediate job opening - Senior Data Scientist,Bangalore/Bengaluru,RedBus,-
2,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Job description\nServe as primary technical le...
3,Senior/ Lead Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nResponsibilities\nProvide adv...
4,Lead Data Scientist,Bangalore/Bengaluru,FICO,Job description\nJob Summary\nThe candidate sh...
5,Lead Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,Job description\nPosition Description:\nThe Ar...
6,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,Job description\nWe are a group of tenured pro...
7,Data Scientist - IBM Garage,Bengaluru/Bangalore,IBM India Pvt. Limited,-
8,Deputy Manager - Datalabs (Data Scientist),Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED,Job description\nRoles & Responsibilities\nDev...
9,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,-

# Q3.You have to scrape data for “Data Scientist” designation for first 10 job results from naukri.com

In [20]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [21]:
search_job2=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job2.send_keys("Data Scientist")
search_btn2=driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [22]:
loc=driver.find_element_by_xpath('//span[text()="Delhi / NCR"]').click()

In [23]:
sal=driver.find_element_by_xpath('//span[text()="3-6 Lakhs"]').click()

In [24]:
title_tag2=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title2=[]
for i in title_tag2:
    title2.append(i.text)
title2[:10]

['Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist']

In [25]:
location_tag2=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location2=[]
for i in location_tag2:
    location2.append(i.text)
location2[:10]

['Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [26]:
company_tag2=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company2=[]
for i in company_tag2:
    company2.append(i.text)
company2[:10]

['TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'Inflexion Analytix Private Limited',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Milliman India Pvt Ltd',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Wipro']

In [27]:
experience_tag1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience1=[]
for i in experience_tag1:
    experience1.append(i.text)
experience1[:10]

['0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-3 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [28]:
df2=pd.DataFrame({"job title":title2[:10],
                "job location":location2[:10],
                "job company":company2[:10],
                "job experience":experience1[:10]})
df2

,job title,job location,job company,job experience
0,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
1,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
2,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
3,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs

# Q4.Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location.

In [29]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.glassdoor.co.in/profile/login_input.htm?userOriginHook=HEADER_SIGNIN_LINK"
driver.get(url)

In [30]:
driver.find_element_by_name("username").send_keys("rashmiambatkar@gmail.com")
driver.find_element_by_name("password").send_keys("glassdoor@Rashmi")

In [31]:
driver.find_element_by_name("submit").click()

In [32]:
search1=driver.find_element_by_xpath("//input[@class='css-1etjok6']").send_keys("Data Scientist")

In [33]:
search2=driver.find_element_by_id("sc.location").send_keys("Noida")

In [34]:
search3=driver.find_element_by_xpath("//button[@type='submit']").click()
time.sleep(3)

In [36]:
#close=driver.find_element_by_xpath("//span[@alt='Close']").click()
#time.sleep(3)

In [37]:
com_name=driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')
com=[]
for i in com_name:
    com.append(i.text)
com[:10]

['Applied Materials Inc.',
 'Indeed',
 'CommerceIQ',
 'Algo8 AI Pvt. Ltd.',
 'dunnhumby',
 'Data Patterns',
 'Canum Infotech',
 'Eagle in Cloud',
 'Kline & Company',
 'Oracle']

In [38]:
days_=driver.find_elements_by_xpath("//div[@data-test='job-age']")
days=[]
for i in days_:
    days.append(i.text)
days[:10]

['30d+', '30d+', '30d+', '24h', '24h', '3d', '1d', '3d', '24h', '2d']

In [39]:
rating1=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
r1=[]
for i in rating1[:10]:
    r1.append(i.text)
    r1=r1[0:10]
r1

['4.0', '4.3', '4.0', '4.1', '3.0', '3.5', '3.8', '3.9', '3.3', '3.7']

In [40]:
df3=pd.DataFrame({"company name":com[:10],
                "Days posted on":days[:10],
                "rating":r1[:10]})
df3

             company name Days posted on rating
0  Applied Materials Inc.           30d+    4.0
1                  Indeed           30d+    4.3
2              CommerceIQ           30d+    4.0
3      Algo8 AI Pvt. Ltd.            24h    4.1
4               dunnhumby            24h    3.0
5           Data Patterns             3d    3.5
6          Canum Infotech             1d    3.8
7          Eagle in Cloud             3d    3.9
8         Kline & Company            24h    3.3
9                  Oracle             2d    3.7

# Q5.Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [44]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [132]:
driver.find_element_by_name("username").send_keys("rashmiambatkar@gmail.com")
driver.find_element_by_name("password").send_keys("glassdoor@Rashmi")

In [133]:
driver.find_element_by_name("submit").click()
time.sleep(3)

In [137]:
search10=driver.find_element_by_xpath("//input[@class='keyword']").send_keys("Data Scientist")

In [138]:
driver.find_element_by_id("LocationSearch").clear()
time.sleep(3)
search20=driver.find_element_by_id("LocationSearch").send_keys("Noida")

In [139]:
search30=driver.find_element_by_xpath("//button[@id='HeroSearchButton']").click()
time.sleep(3)

### After successfully login could not move forward due to pop up with no closing icon. It was asking to write review on salary.

# Q6.Scrape data of first 100 sunglasses listings on flipkart.com.

In [46]:
driver=webdriver.Chrome("chromedriver.exe")
url6="https://www.flipkart.com/"
driver.get(url6)

In [47]:
cross=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [48]:
driver.find_element_by_name("q").send_keys("sunglasses")

In [49]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
time.sleep(3)

In [50]:
brand=[]

for i in range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
        brand=brand[:100]
brand

['PIRASO',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'DEIXELS',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'NuVew',
 'GANSTA',
 'PIRASO',
 'Singco India',
 'PHENOMENAL',
 'Singco',
 'elegante',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'Singco India',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'hipe',
 'NuVew',
 'Poland',
 'Fastrack',
 'Singco India',
 'Cristiano Ronnie',
 'NuVew',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'DEIXELS',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'NuVew',
 'GANSTA',
 'PIRASO',
 'Singco India',
 'PHENOMENAL',
 'Singco',
 'elegante',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'Singco India',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'hipe',
 'NuVew',
 'Poland',
 'Fastrack',
 'Singco India',
 'Cristiano Ronnie',
 'NuVew',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'DEIXELS',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'NuVew',
 'GANSTA',
 'PIRASO',
 'Singco India',
 'PHENOMENAL',
 'Singco',
 'elegante',
 'HIPPON']

In [51]:
desp=[]
for i in  range(0,3):
    for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        desp.append(j.text)
        desp=desp[:100]
desp

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Rectangular Sunglasses (58)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Rectangular Sunglasses (58)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)']

In [52]:
pr=[]
for i in  range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        pr.append(j.text)
        pr=pr[:100]
pr

['₹237',
 '₹570',
 '₹299',
 '₹237',
 '₹621',
 '₹331',
 '₹331',
 '₹339',
 '₹213',
 '₹399',
 '₹733',
 '₹404',
 '₹282',
 '₹281',
 '₹237',
 '₹349',
 '₹379',
 '₹249',
 '₹199',
 '₹251',
 '₹474',
 '₹246',
 '₹252',
 '₹674',
 '₹199',
 '₹319',
 '₹217',
 '₹219',
 '₹499',
 '₹426',
 '₹399',
 '₹210',
 '₹156',
 '₹162',
 '₹1,085',
 '₹209',
 '₹399',
 '₹204',
 '₹265',
 '₹323',
 '₹237',
 '₹570',
 '₹299',
 '₹237',
 '₹621',
 '₹331',
 '₹331',
 '₹339',
 '₹213',
 '₹399',
 '₹733',
 '₹404',
 '₹282',
 '₹281',
 '₹237',
 '₹349',
 '₹379',
 '₹249',
 '₹199',
 '₹251',
 '₹474',
 '₹246',
 '₹252',
 '₹674',
 '₹199',
 '₹319',
 '₹217',
 '₹219',
 '₹499',
 '₹426',
 '₹399',
 '₹210',
 '₹156',
 '₹162',
 '₹1,085',
 '₹209',
 '₹399',
 '₹204',
 '₹265',
 '₹323',
 '₹237',
 '₹570',
 '₹299',
 '₹237',
 '₹621',
 '₹331',
 '₹331',
 '₹339',
 '₹213',
 '₹399',
 '₹733',
 '₹404',
 '₹282',
 '₹281',
 '₹237',
 '₹349',
 '₹379',
 '₹249',
 '₹199',
 '₹251']

In [53]:
dis=[]
for i in  range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        dis.append(j.text)
        dis=dis[:100]
dis

['85% off',
 '28% off',
 '88% off',
 '85% off',
 '22% off',
 '87% off',
 '79% off',
 '78% off',
 '82% off',
 '80% off',
 '18% off',
 '79% off',
 '75% off',
 '85% off',
 '85% off',
 '70% off',
 '81% off',
 '75% off',
 '80% off',
 '79% off',
 '78% off',
 '83% off',
 '83% off',
 '25% off',
 '80% off',
 '78% off',
 '78% off',
 '80% off',
 '77% off',
 '80% off',
 '73% off',
 '85% off',
 '79% off',
 '67% off',
 '16% off',
 '79% off',
 '74% off',
 '74% off',
 '79% off',
 '87% off',
 '85% off',
 '28% off',
 '88% off',
 '85% off',
 '22% off',
 '87% off',
 '79% off',
 '78% off',
 '82% off',
 '80% off',
 '18% off',
 '79% off',
 '75% off',
 '85% off',
 '85% off',
 '70% off',
 '81% off',
 '75% off',
 '80% off',
 '79% off',
 '78% off',
 '83% off',
 '83% off',
 '25% off',
 '80% off',
 '78% off',
 '78% off',
 '80% off',
 '77% off',
 '80% off',
 '73% off',
 '85% off',
 '79% off',
 '67% off',
 '16% off',
 '79% off',
 '74% off',
 '74% off',
 '79% off',
 '87% off',
 '85% off',
 '28% off',
 '88% off',
 '85% off',
 '22% off',
 '87% off',
 '79% off',
 '78% off',
 '82% off',
 '80% off',
 '18% off',
 '79% off',
 '75% off',
 '85% off',
 '85% off',
 '70% off',
 '81% off',
 '75% off',
 '80% off',
 '79% off']

In [54]:
df6=pd.DataFrame({"Brand":brand,
                "Description":desp,
                "Price":pr,
                "Discount":dis})
df6

,Brand,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
...,...,...,...,...
95,Singco India,UV Protection Aviator Sunglasses (Free Size),₹349,70% off
96,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
97,Singco,Mirrored Aviator Sunglasses (53),₹249,75% off
98,elegante,UV Protection Round Sunglasses (Free Size),₹199,80% off
99,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off

# Q7.Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [55]:
driver=webdriver.Chrome("chromedriver.exe")
url7="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url7)

In [56]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [57]:
rating=[]
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
        rating=rating[:100]
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5']

In [58]:
short=[]
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short.append(j.text)
        short=short[:100]
short

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended']

In [59]:
full=[]
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full.append(j.text)
        full=full[:100]
full

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',

In [60]:
df7=pd.DataFrame({"RATING":rating,
                "SHORT DESCRIPTION":short,
                "FULL DESCRIPTION":full})
df7

,RATING,SHORT DESCRIPTION,FULL DESCRIPTION
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

# Q8.Scrape data for first 100 sneakers you find when you visit flipkart.com

In [61]:
driver=webdriver.Chrome("chromedriver.exe")
url8="https://www.flipkart.com/"
driver.get(url8)

In [62]:
cross=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [63]:
driver.find_element_by_name("q").send_keys("sneakers")

In [64]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
time.sleep(5)

In [65]:
brand1=[]

for i in range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand1.append(j.text)
        brand1=brand1[:100]
brand1

['Chevit',
 'India hub',
 'ORICUM',
 'CALCADOS',
 'Shoes Bank',
 'ASTEROID',
 'PEHANOSA',
 'Alfiya',
 'bluemaker',
 'SCATCHITE',
 'Stefano Rads',
 'Chevit',
 '3SIX5',
 'Numenzo',
 'PUMA',
 'Kraasa',
 'D-SNEAKERZ',
 'Birde',
 'Chevit',
 'restinfoot',
 'bluemaker',
 'SPARX',
 'HOTSTYLE',
 'HOTSTYLE',
 'Chevit',
 'Robbie jones',
 'TR',
 'Birde',
 'Chevit',
 'Absolute comfort',
 'Zsyto',
 'FILA',
 'Aura',
 'kardam&sons',
 'SPARX',
 'Nilatin',
 'ORICUM',
 'Robbie jones',
 'World Wear Footwear',
 'Chevit',
 'Chevit',
 'India hub',
 'ORICUM',
 'CALCADOS',
 'Shoes Bank',
 'ASTEROID',
 'PEHANOSA',
 'Alfiya',
 'bluemaker',
 'SCATCHITE',
 'Stefano Rads',
 'Chevit',
 '3SIX5',
 'Numenzo',
 'PUMA',
 'Kraasa',
 'D-SNEAKERZ',
 'Birde',
 'Chevit',
 'restinfoot',
 'bluemaker',
 'SPARX',
 'HOTSTYLE',
 'HOTSTYLE',
 'Chevit',
 'Robbie jones',
 'TR',
 'Birde',
 'Chevit',
 'Absolute comfort',
 'Zsyto',
 'FILA',
 'Aura',
 'kardam&sons',
 'SPARX',
 'Nilatin',
 'ORICUM',
 'Robbie jones',
 'World Wear Footwear',
 'Chevit',
 'Chevit',
 'India hub',
 'ORICUM',
 'CALCADOS',
 'Shoes Bank',
 'ASTEROID',
 'PEHANOSA',
 'Alfiya',
 'bluemaker',
 'SCATCHITE',
 'Stefano Rads',
 'Chevit',
 '3SIX5',
 'Numenzo',
 'PUMA',
 'Kraasa',
 'D-SNEAKERZ',
 'Birde',
 'Chevit',
 'restinfoot']

In [66]:
desp1=[]
for i in  range(0,4):
    try:
        for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
            desp1.append(j.text)
            desp1=desp1[:100]
    except NoSuchElementException:
        desp1.append('-')
desp1

['Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 07) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'casual for men (beige 09) Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'EMERIL Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 07) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'casual for men (beige 09) Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'EMERIL Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 07) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'casual for men (beige 09) Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'EMERIL Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'Casual Sneakers Shoes For Men Sneakers For Men']

In [67]:
pr1=[]
for i in  range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        pr1.append(j.text)
        pr1=pr1[:100]
pr1

['₹448',
 '₹389',
 '₹377',
 '₹748',
 '₹398',
 '₹499',
 '₹499',
 '₹377',
 '₹474',
 '₹398',
 '₹229',
 '₹369',
 '₹214',
 '₹398',
 '₹1,506',
 '₹416',
 '₹365',
 '₹283',
 '₹498',
 '₹379',
 '₹474',
 '₹769',
 '₹283',
 '₹283',
 '₹567',
 '₹499',
 '₹379',
 '₹661',
 '₹472',
 '₹199',
 '₹378',
 '₹1,267',
 '₹525',
 '₹379',
 '₹630',
 '₹407',
 '₹472',
 '₹379',
 '₹499',
 '₹719',
 '₹448',
 '₹389',
 '₹377',
 '₹748',
 '₹398',
 '₹499',
 '₹499',
 '₹377',
 '₹474',
 '₹398',
 '₹229',
 '₹369',
 '₹214',
 '₹398',
 '₹1,506',
 '₹416',
 '₹365',
 '₹283',
 '₹498',
 '₹379',
 '₹474',
 '₹769',
 '₹283',
 '₹283',
 '₹567',
 '₹499',
 '₹379',
 '₹661',
 '₹472',
 '₹199',
 '₹378',
 '₹1,267',
 '₹525',
 '₹379',
 '₹630',
 '₹407',
 '₹472',
 '₹379',
 '₹499',
 '₹719',
 '₹448',
 '₹389',
 '₹377',
 '₹748',
 '₹398',
 '₹499',
 '₹499',
 '₹377',
 '₹474',
 '₹398',
 '₹229',
 '₹369',
 '₹214',
 '₹398',
 '₹1,506',
 '₹416',
 '₹365',
 '₹283',
 '₹498',
 '₹379']

In [68]:
dis1=[]
for i in  range(0,3):
    for j in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        dis1.append(j.text)
        dis1=dis1[:100]
dis1

['70% off',
 '87% off',
 '62% off',
 '62% off',
 '60% off',
 '75% off',
 '50% off',
 '62% off',
 '52% off',
 '60% off',
 '67% off',
 '26% off',
 '57% off',
 '60% off',
 '49% off',
 '58% off',
 '44% off',
 '43% off',
 '50% off',
 '62% off',
 '52% off',
 '23% off',
 '43% off',
 '43% off',
 '68% off',
 '50% off',
 '81% off',
 '66% off',
 '76% off',
 '60% off',
 '70% off',
 '59% off',
 '47% off',
 '81% off',
 '15% off',
 '68% off',
 '52% off',
 '62% off',
 '81% off',
 '71% off',
 '70% off',
 '87% off',
 '62% off',
 '62% off',
 '60% off',
 '75% off',
 '50% off',
 '62% off',
 '52% off',
 '60% off',
 '67% off',
 '26% off',
 '57% off',
 '60% off',
 '49% off',
 '58% off',
 '44% off',
 '43% off',
 '50% off',
 '62% off',
 '52% off',
 '23% off',
 '43% off',
 '43% off',
 '68% off',
 '50% off',
 '81% off',
 '66% off',
 '76% off',
 '60% off',
 '70% off',
 '59% off',
 '47% off',
 '81% off',
 '15% off',
 '68% off',
 '52% off',
 '62% off',
 '81% off',
 '71% off',
 '70% off',
 '87% off',
 '62% off',
 '62% off',
 '60% off',
 '75% off',
 '50% off',
 '62% off',
 '52% off',
 '60% off',
 '67% off',
 '26% off',
 '57% off',
 '60% off',
 '49% off',
 '58% off',
 '44% off',
 '43% off',
 '50% off',
 '62% off']

In [69]:
df8=pd.DataFrame({"Brand":brand1,
                "Description":desp1,
                "Price":pr1,
                "Discount":dis1})
df8

,Brand,Description,Price,Discount
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,70% off
1,India hub,Combo pack of 2 casual sneaker shoes for men S...,₹389,87% off
2,ORICUM,White Sneaker For Men's/Boy's Sneakers For Men,₹377,62% off
3,CALCADOS,Luxury Branded Fashionable Men's Casual Walkin...,₹748,62% off
4,Shoes Bank,Sneakers For Men,₹398,60% off
...,...,...,...,...
95,Kraasa,Combo Pack of 2 Casual Shoes Sneakers For Men,₹416,58% off
96,D-SNEAKERZ,Fashionable casual sneaker shoes Sneakers For Men,₹365,44% off
97,Birde,SD-323 Sneakers For Men,₹283,43% off
98,Chevit,Combo pack of 2 Casuals Shoes For Men (1563-15...,₹498,50% off
99,restinfoot,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off

# Q9.Scrape First 100 shoes data you get from myntra.com

In [70]:
driver=webdriver.Chrome("chromedriver.exe")
url9="https://www.myntra.com/shoes"
driver.get(url9)

In [76]:
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(3)

In [73]:
select2_=driver.find_element_by_xpath("//label[text()='Black']")
select2_.click()
time.sleep(5)

In [80]:
brand9=[]
for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand9.append(j.text)
brand9

['FILA',
 'J.FONTINI',
 'KIPRUN By Decathlon',
 'Quechua By Decathlon',
 'Puma',
 'Cole Haan',
 'Cole Haan',
 'FILA',
 'Puma',
 'ADIDAS',
 'Cole Haan',
 'FILA',
 'FILA',
 'Geox',
 'ADIDAS',
 'Ruosh',
 'Nike',
 'VIONIC',
 'J.FONTINI',
 'J.FONTINI',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'Heel & Buckle London',
 'Saint G',
 'Cole Haan',
 'Nike',
 'San Frissco',
 'Cole Haan',
 'FILA',
 'Ruosh',
 'Cole Haan',
 'UNDER ARMOUR',
 'Lacoste',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'ADIDAS',
 'Bugatti',
 'FILA',
 'Ruosh',
 'Kenneth Cole',
 'Nike']

In [81]:
desp9=[]
for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        desp9.append(j.text)
desp9

['Men JORDAN DELTA Basketball',
 'Men Solid Leather Sneakers',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Men JOYRIDE Running Shoes',
 'Women REACT Running Shoes',
 'Unisex COSMIC UNITY Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men ZOOM FREAK 2 Basketball',
 'Men GO RUN 7+ Running Shoes',
 'Men Cell Fraction Fade Running',
 'Men Running Shoes',
 'Men Velocity Nitro Running',
 'Women SUPERNOVA Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men Running Shoes',
 'Charged Rogue 2 Wide 2E Shoes',
 'Men Black Sports Shoes',
 'Women Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Unisex RS-Fast Nano Sneakers',
 'Women Eternity Nitro Running',
 'Unisex SC 3ZER0 IV Basketball',
 'Men JORDAN DELTA Sneakers',
 'Unisex RS-X Pop Sneakers',
 'Women Running Shoes',
 'Charged Impulse Running Shoes',
 'TREKKING 100 Boots',
 'Men Running Shoes',
 'Women HOVR Apex 2 Training',
 'Men ZX 2K Boost Solid Sneakers',
 'Forever Floatride Energy 2',
 'Women TriBase Reign 2 Training',
 "Women D'LITES 3.0 Sneakers",
 'Men Textured Derbys',
 'Women Black Sneakers',
 'Men Colourblocked Driving Shoes',
 'Women Open Toe Flats',
 'Women Sneakers Casual Shoes',
 'Men KD500 Running Shoe',
 'HOVR Sonic 3 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Women Peep Toe Heels',
 'Men Formal Leather Brogues',
 'Women Sneakers Casual Shoes',
 'Men Running Shoes',
 'Men Solid Leather Formal Loafers',
 'Women Leather Sneakers',
 'Women Running Shoes']

In [82]:
price9=[]
for j in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price9.append(j.text)
price9

['Rs. 12495',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 12995',
 'Rs. 10496Rs. 14995(30% OFF)',
 'Rs. 8396Rs. 11995(30% OFF)',
 'Rs. 12145Rs. 13495(10% OFF)',
 'Rs. 6996Rs. 9995(30% OFF)',
 'Rs. 7206Rs. 10295(30% OFF)',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 8999',
 'Rs. 10995',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 7699Rs. 13999(45% OFF)',
 'Rs. 9999',
 'Rs. 7799Rs. 11999(35% OFF)',
 'Rs. 6999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7490',
 'Rs. 7999',
 'Rs. 7649Rs. 8499(10% OFF)',
 'Rs. 6995',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7006Rs. 7149(2% OFF)']

In [83]:
next9=driver.find_element_by_xpath("//a[@rel='next']").click()
time.sleep(3)

In [100]:
brand10=[]
brand11=[]
for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand10.append(j.text)
brand11=brand9+brand10
brand11

['KIPRUN By Decathlon',
 'ALDO',
 'Quechua By Decathlon',
 'J.FONTINI',
 'Puma',
 'Cole Haan',
 'Cole Haan',
 'FILA',
 'Puma',
 'ADIDAS',
 'Cole Haan',
 'FILA',
 'FILA',
 'Geox',
 'ADIDAS',
 'Ruosh',
 'Nike',
 'VIONIC',
 'J.FONTINI',
 'J.FONTINI',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'Heel & Buckle London',
 'Saint G',
 'Cole Haan',
 'Nike',
 'San Frissco',
 'Cole Haan',
 'FILA',
 'Cole Haan',
 'UNDER ARMOUR',
 'Lacoste',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'ADIDAS',
 'Bugatti',
 'FILA',
 'Kenneth Cole',
 'Nike',
 'Geox',
 'Geox',
 ['KIPRUN By Decathlon',
  'ALDO',
  'Quechua By Decathlon',
  'J.FONTINI',
  'Puma',
  'Cole Haan',
  'Cole Haan',
  'FILA',
  'Puma',
  'ADIDAS',
  'Cole Haan',
  'FILA',
  'FILA',
  'Geox',
  'ADIDAS',
  'Ruosh',
  'Nike',
  'VIONIC',
  'J.FONTINI',
  'J.FONTINI',
  'Nike',
  'Hush Puppies',
  'Nike',
  'Nike',
  'Nike',
  'UNDER ARMOUR',
  'Heel & Buckle London',
  'Lacoste',
  'Lacoste',
  'ASICS',
  'Heel & Buckle London',
  'Saint G',
  'Cole Haan',
  'Nike',
  'San Frissco',
  'Cole Haan',
  'FILA',
  'Cole Haan',
  'UNDER ARMOUR',
  'Lacoste',
  'Heel & Buckle London',
  'UNDER ARMOUR',
  'Heel & Buckle London',
  'ADIDAS',
  'Bugatti',
  'FILA',
  'Kenneth Cole',
  'Nike',
  'Geox',
  'Geox'],
 'KIPRUN By Decathlon',
 'ALDO',
 'Quechua By Decathlon',
 'J.FONTINI',
 'Puma',
 'Cole Haan',
 'Cole Haan',
 'FILA',
 'Puma',
 'ADIDAS',
 'Cole Haan',
 'FILA',
 'FILA',
 'Geox',
 'ADIDAS',
 'Ruosh',
 'Nike',
 'VIONIC',
 'J.FONTINI',
 'J.FONTINI',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'Heel & Buckle London',
 'Saint G',
 'Cole Haan',
 'Nike',
 'San Frissco',
 'Cole Haan',
 'FILA',
 'Cole Haan',
 'UNDER ARMOUR',
 'Lacoste',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'ADIDAS',
 'Bugatti',
 'FILA',
 'Kenneth Cole',
 'Nike',
 'Geox',
 'Geox']

In [101]:
desp10=[]
for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        desp10.append(j.text)
desp11=desp9+desp10
desp11[:100]

['Men JORDAN DELTA Basketball',
 'Men Solid Leather Sneakers',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Men JOYRIDE Running Shoes',
 'Women REACT Running Shoes',
 'Unisex COSMIC UNITY Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Men ZOOM FREAK 2 Basketball',
 'Men GO RUN 7+ Running Shoes',
 'Men Cell Fraction Fade Running',
 'Men Running Shoes',
 'Men Velocity Nitro Running',
 'Women SUPERNOVA Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men Running Shoes',
 'Charged Rogue 2 Wide 2E Shoes',
 'Men Black Sports Shoes',
 'Women Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Unisex RS-Fast Nano Sneakers',
 'Women Eternity Nitro Running',
 'Unisex SC 3ZER0 IV Basketball',
 'Men JORDAN DELTA Sneakers',
 'Unisex RS-X Pop Sneakers',
 'Women Running Shoes',
 'Charged Impulse Running Shoes',
 'TREKKING 100 Boots',
 'Men Running Shoes',
 'Women HOVR Apex 2 Training',
 'Men ZX 2K Boost Solid Sneakers',
 'Forever Floatride Energy 2',
 'Women TriBase Reign 2 Training',
 "Women D'LITES 3.0 Sneakers",
 'Men Textured Derbys',
 'Women Black Sneakers',
 'Men Colourblocked Driving Shoes',
 'Women Open Toe Flats',
 'Women Sneakers Casual Shoes',
 'Men KD500 Running Shoe',
 'HOVR Sonic 3 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Women Peep Toe Heels',
 'Men Formal Leather Brogues',
 'Women Sneakers Casual Shoes',
 'Men Running Shoes',
 'Men Solid Leather Formal Loafers',
 'Women Leather Sneakers',
 'Women Running Shoes',
 ['Women Running Shoes',
  'Women Sandals',
  'Men Trekking Shoes',
  'Men Textured Leather Loafers',
  'Men Liberate Nitro Running',
  'Men Wingtip Oxford Sneakers',
  'Men GENERATION ZEROGRAND STITCHLITE',
  'Men Leather Sneakers',
  'Men IGNITE Dual Running Shoes',
  'Women Edge Lux 4 Running',
  'Leather Sneakers',
  'Men Solid Sneakers',
  'Men Sneakers',
  'Men Leather Driving Shoes',
  'Women Supernova+ Running',
  'Men Textured Leather Monks',
  'Men JORDAN ONE TAKE II Shoes',
  'Men Textured Sneakers',
  'Men Textured Leather Loafers',
  'Men Textured Leather Loafers',
  'Men Zoom Winflo 8 Running',
  'Men Leather Slip-On Sneakers',
  'Men AIR ZOOM PEGASUS 38 Run',
  'Men REACT MILER 2 Running',
  'Men REACT MILER 2 Running',
  'Charged Pursuit 2 Running',
  'Women Solid Leather Gladiators',
  'Men Woven Design Sneakers',
  'Men Woven Design Slip-On Sneakers',
  'Men Running Shoes',
  'Women Solid Leather Heels',
  'Women Heeled Boots',
  'Women Open Toe Flats',
  'Men ZOOM WINFLO 6 Running',
  'Men Leather Loafers',
  'Women Solid Leather Ballerinas',
  'Women Sneakers',
  'Women Woven Design Sneakers',
  'Liquify Rebel Running Shoes',
  'Woven Design Casual Sneakers',
  'Men Leather Formal Oxfords',
  'Charged RC Sportstyle Sneakers',
  'Women Leather Pumps',
  'Men Adizero Ubersonic 4 Tennis',
  'Women Solid Block Heels',
  'Women Solid Slip-On Sneakers',
  'Women Solid Flat Boots',
  'Women AIR MAX VIVA Sneakers',
  'Men Leather Formal Derbys',
  'Men Leather Semiformal Driving'],
 'Women Running Shoes',
 'Women Sandals',
 'Men Trekking Shoes',
 'Men Textured Leather Loafers',
 'Men Liberate Nitro Running',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Sneakers',
 'Men IGNITE Dual Running Shoes',
 'Women Edge Lux 4 Running',
 'Leather Sneakers',
 'Men Solid Sneakers',
 'Men Sneakers',
 'Men Leather Driving Shoes',
 'Women Supernova+ Running',
 'Men Textured Leather Monks',
 'Men JORDAN ONE TAKE II Shoes',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Zoom Winflo 8 Running',
 'Men Leather Slip-On Sneakers',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men REACT MILER 2 Running',
 'Men REACT MILER 2 Running',
 'Charged Pursuit 2 Running',
 'Women Solid Leather Gladiators',
 'Men Woven Design Sneakers',
 'Men Woven Design Slip-On Sneakers',
 'Men Running Shoes',
 'Women Solid Leather Heels',
 'Women Heeled Boots',
 'Women Open Toe Flats',
 'Men ZOOM WINFLO 6 Running',
 'Men Leather Loafers',
 'Women Solid Leather Ballerinas',
 'Women Sneakers',
 'Women Woven Design Sneakers',
 'Liquify Rebel Running Shoes',
 'Woven Design Casual Sneakers',
 'Men Leather Formal Oxfords',
 'Charged RC Sportstyle Sneakers',
 'Women Leather Pumps',
 'Men Adizero Ubersonic 4 Tennis',
 'Women Solid Block Heels',
 'Women Solid Slip-On Sneakers',
 'Women Solid Flat Boots',
 'Women AIR MAX VIVA Sneakers',
 'Men Leather Formal Derbys']

In [102]:
price10=[]
for j in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price10.append(j.text)
price11=price9+price10
price11[:100]

['Rs. 12495',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 12995',
 'Rs. 10496Rs. 14995(30% OFF)',
 'Rs. 8396Rs. 11995(30% OFF)',
 'Rs. 12145Rs. 13495(10% OFF)',
 'Rs. 6996Rs. 9995(30% OFF)',
 'Rs. 7206Rs. 10295(30% OFF)',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 8999',
 'Rs. 10995',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 7699Rs. 13999(45% OFF)',
 'Rs. 9999',
 'Rs. 7799Rs. 11999(35% OFF)',
 'Rs. 6999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7490',
 'Rs. 7999',
 'Rs. 7649Rs. 8499(10% OFF)',
 'Rs. 6995',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7006Rs. 7149(2% OFF)',
 ['Rs. 7006Rs. 7149(2% OFF)',
  'Rs. 8999',
  'Rs. 9999',
  'Rs. 6990',
  'Rs. 9999',
  'Rs. 12999',
  'Rs. 11999',
  'Rs. 7999',
  'Rs. 6999',
  'Rs. 7999',
  'Rs. 10999',
  'Rs. 7499',
  'Rs. 6999',
  'Rs. 9990',
  'Rs. 7799Rs. 11999(35% OFF)',
  'Rs. 6990',
  'Rs. 7465Rs. 8295(10% OFF)',
  'Rs. 7039Rs. 10999(36% OFF)',
  'Rs. 6990',
  'Rs. 7690',
  'Rs. 7465Rs. 8295(10% OFF)',
  'Rs. 9999',
  'Rs. 9995',
  'Rs. 9196Rs. 11495(20% OFF)',
  'Rs. 9196Rs. 11495(20% OFF)',
  'Rs. 6999',
  'Rs. 6993Rs. 9990(30% OFF)',
  'Rs. 8500',
  'Rs. 8500',
  'Rs. 11999',
  'Rs. 6993Rs. 9990(30% OFF)',
  'Rs. 7440Rs. 8000(7% OFF)',
  'Rs. 8399Rs. 11999(30% OFF)',
  'Rs. 7195Rs. 7995(10% OFF)',
  'Rs. 7497Rs. 14995(50% OFF)',
  'Rs. 9799Rs. 13999(30% OFF)',
  'Rs. 8999',
  'Rs. 6749Rs. 14999(55% OFF)',
  'Rs. 8999',
  'Rs. 7595Rs. 10850(30% OFF)',
  'Rs. 7693Rs. 10990(30% OFF)',
  'Rs. 8999',
  'Rs. 7192Rs. 8990(20% OFF)',
  'Rs. 10499Rs. 13999(25% OFF)',
  'Rs. 8499',
  'Rs. 7499',
  'Rs. 9513Rs. 13590(30% OFF)',
  'Rs. 12495',
  'Rs. 6894Rs. 11490(40% OFF)',
  'Rs. 10490'],
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 9990',
 'Rs. 7799Rs. 11999(35% OFF)',
 'Rs. 6990',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 6990',
 'Rs. 7690',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 9999',
 'Rs. 9995',
 'Rs. 9196Rs. 11495(20% OFF)',
 'Rs. 9196Rs. 11495(20% OFF)',
 'Rs. 6999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 8500',
 'Rs. 8500',
 'Rs. 11999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7440Rs. 8000(7% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7195Rs. 7995(10% OFF)',
 'Rs. 7497Rs. 14995(50% OFF)',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8999',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 8999',
 'Rs. 7595Rs. 10850(30% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 8999',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 10499Rs. 13999(25% OFF)',
 'Rs. 8499',
 'Rs. 7499',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 12495',
 'Rs. 6894Rs. 11490(40% OFF)']

In [103]:
df9=pd.DataFrame({"Brand":brand11[:100],
                "Description":desp11[:100],
                "Price":price11[:100]})
df9

,Brand,Description,Price
0,KIPRUN By Decathlon,Men JORDAN DELTA Basketball,Rs. 12495
1,ALDO,Men Solid Leather Sneakers,Rs. 7999
2,Quechua By Decathlon,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
3,J.FONTINI,Men KD13 EP Basketball Shoes,Rs. 12995
4,Puma,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
...,...,...,...
95,Bugatti,Women Solid Block Heels,Rs. 8499
96,FILA,Women Solid Slip-On Sneakers,Rs. 7499
97,Kenneth Cole,Women Solid Flat Boots,Rs. 9513Rs. 13590(30% OFF)
98,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
99,Geox,Men Leather Formal Derbys,Rs. 6894Rs. 11490(40% OFF)

# Q10.Scrape first 10 laptops data from amazon.in

In [104]:
driver=webdriver.Chrome("chromedriver.exe")
url10="https://www.amazon.in/"
driver.get(url10)

In [105]:
search10=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search10.send_keys("laptop")

In [106]:
ok=driver.find_element_by_xpath("//div[@class='nav-right']").click()

In [107]:
select10=driver.find_element_by_xpath("//span[text()='Intel Core i7']").click()
time.sleep(5)

In [108]:
select11=driver.find_element_by_xpath("//span[text()='Intel Core i9']").click()
time.sleep(5)

In [117]:
title100=[]
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
        title100.append(i.text)
title100[:10]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) ASUS ROG Strix Scar II GL504GM-ES155T 15.6-inch FHD Gaming Laptop (8th Gen Intel Core i7-8750H/16GB/1TB SSHD + 256GB SSD/Windows 10/GTX 1060 6GB Graphics/2.40 Kg), Scar Gunmatel',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN']

In [130]:
ratings100=[]
rating100=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')  
for i in rating100:
    ratings100.append(i.get_attribute('aria-label'))
    ratings100=ratings100[:10]
ratings100

['4.4 out of 5 stars',
 '4.2 out of 5 stars',
 '4.7 out of 5 stars',
 '4.5 out of 5 stars',
 '4.1 out of 5 stars',
 '3.8 out of 5 stars',
 '3.1 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars']

In [132]:
price100=[]
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    price100.append(i.text)
    price100=price100[:10]
price100

['54,999',
 '97,990',
 '88,000',
 '84,990',
 '86,990',
 '1,18,992',
 '2,45,990',
 '26,990',
 '78,990',
 '77,990']

In [135]:
df10=pd.DataFrame({"Title":title100[:10],
                "Rating":ratings100[:10],
                "Price":price100[:10]})
df10

,Title,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"54,999"
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5 stars,"97,990"
2,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.7 out of 5 stars,"88,000"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5 stars,"84,990"
4,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.1 out of 5 stars,"86,990"
5,(Renewed) ASUS ROG Strix Scar II GL504GM-ES155...,3.8 out of 5 stars,"1,18,992"
6,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...",3.1 out of 5 stars,"2,45,990"
7,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.8 out of 5 stars,"26,990"
8,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",4.3 out of 5 stars,"78,990"
9,Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...,4.3 out of 5 stars,"77,990"